{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^use client", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]", "(.*)\\.css$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120
}
