.volt-button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 14px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 14px 19px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.volt-button::after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 14px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.volt-button:focus {
  user-select: auto;
}

.volt-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.volt-button:disabled {
  cursor: auto;
}

.volt-button:active::after {
  border-width: 0;
}

.volt-button:active {
  transform: translateY(3px) translateZ(0);
}
